/* Projects */
.thumb_darkenImage {
  filter: brightness(0.5);
}

.textDetails_darkenImage {
  filter: brightness(0.3);
}

.thumbBanner {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.thumbBanner_fontColor {
  color: white;
}

.textDetails_fontColor {
  color: white;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
