/* Projects */
.darkenImage {
  filter: brightness(0.3);
}

.thumbBanner {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
