/* Multiple Pages */
body {
  /* background-color: #333a40; */
  background-color: aliceblue;
}

.cardHeader_bgColor {
  /* background-color: #4e5861; */
  background-color: lavender;
}

.cardBody_bgColor {
  background-color: aliceblue;
}

.cardText_bgColor {
  background-color: rgb(255, 255, 255, 1);
}

.cardItem_spacing {
  margin: 10% 0;
}

.cardTextBox_styling {
  border-radius: 50px;
}

.cardTextP_spacing {
  margin: 5% 0;
}

.navBackgroundColor {
  background-color: rgb(120, 168, 211);
}

.navNameFontColor {
  color: white;
}

.navNonNameFontColor {
  color: rgb(255, 255, 255, 0.65) !important;
}

.navLinkSize {
  font-size: 15px;
}

.textSize {
  font-size: 13px;
}
