/* Multiple Pages */
body {
  /* background-color: #333a40; */
  background-color: aliceblue;
}

.cardHeader_bgColor {
  /* background-color: #4e5861; */
  background-color: lavender;
}

.cardBody_bgColor {
  background-color: aliceblue;
}

.cardText_bgColor {
  background-color: rgb(255, 255, 255, 1);
}

.cardText_spacing {
  margin: 10% 0;
}

.cardText_styling {
  border-radius: 50px;
}

.navLinkSize {
  font-size: 15px;
}

.textSize {
  font-size: 13px;
}
